.todo {
  background-color: lightcoral;
  margin: auto;
  width: 75vw;
  padding: 1em;
  border-radius: 5px;
  margin-top: 0.8em;
  box-shadow: 2px 2px 5px rgb(170, 44, 44);
}

.todo > h1 {
  color: antiquewhite;
  text-shadow: 1px 1px black;
  font-size: 4em;
  text-align: center;
}

.add-todo {
  text-align: center;
  display: flex;
  justify-content: center;
}

.add-todo > label {
  background-color: lightblue;
  padding: 0.69em;
  border-radius: 0.3em 0 0 0.3em;
  font-weight: bold;
  min-width: 140px;
}

.add-todo > input {
  height: 3em;
  width: 75%;
  padding-left: 1em;
  outline: none;
  border: 2px lightblue solid;
}

.add-todo > input:focus {
  outline: 2px lightblue inset;
}

.add-todo > button {
  height: 3em;
  min-width: 80px;
  padding: 0.7em;
  border-radius: 0 0.3em 0.3em 0;
  background-color: lightblue;
  font-weight: bold;
  border: none;
}

.add-todo > button:hover {
  background-color: rgb(122, 185, 208);
}

.add-todo > button:active {
  background-color: rgb(64, 145, 172);
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  width: 40%;
  margin: auto;
  font-size: 1.2em;
}

.task-item {
  background-color: lightblue;
  margin: 0.5em;
  padding: 0.5em;
  min-width: 200px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.task-item > span {
  padding-right: 5px;
}

.removeTask {
  padding: 0.7em;
  border-radius: 0 0.3em 0.3em 0;
  font-weight: bold;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;

  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .add-todo {
    flex-direction: column;
  }
  .add-todo > input {
    width: 100%;
  }
  .add-todo > label {
    border-radius: 0.3em 0.3em 0 0;
  }
  .add-todo > button {
    border-radius: 0 0 0.3em 0.3em;
  }
}
